.heading{
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid white
}

.moviePage{

    color:white;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.field{
    padding: 10px;
}

.homeImages{
    height: 411px;
    padding:10px;
}

.homepage{
    padding-top: 20px;
    
    padding-bottom: 20px;
}

#root{
    background-color: black;
}

.spin{
    position: absolute;
    top: 50%;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
}